@tailwind base;
@tailwind components;
@tailwind utilities;

/* input[type="checkbox"] {
  display: none;
} */
body {
  font-family: "Rajdhani", sans-serif;
}
.EZDrawer .EZDrawer__container {
  background: #000000 !important;
  width: 100vw !important;
  min-height: 100vh !important;
  overflow-y: scroll;
  z-index: 20;
}

.header-scroll-hidden {
  transform: translateY(-100%);
  transition: transform 0.1s ease-in; /* Quick minimize */
}

.header-scroll-visible {
  transform: translateY(0);
  transition: transform 0.9s ease-out; /* Slow reappear */
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@layer utilities {
  .adjustedwidth {
    @apply sm:w-[90%] w-[95%] lg:w-[80%] max-w-[90rem];
  }
  .wrapper {
    @apply max-w-7xl mx-auto px-4;
  }
  .desc {
    @apply text-[14px] text-[#727272];
  }
  .primary-btn {
    @apply text-white hover:scale-105 cursor-pointer font-light tracking-wide bg-primary hover:bg-secondary  max-w-[40rem] shadow-2xl shadow-transparent  px-6 py-3 min-w-[7rem] flex justify-center text-center transition-all duration-300 rounded-lg;
  }
  /* .secondary-btn {
    @apply text-black cursor-pointer font-normal tracking-wide bg-secondary  border-transparent  hover:bg-[#F6F7Fb] hover:text-black   hover:-translate-y-1 shadow-2xl shadow-transparent  px-6 py-3 min-w-fit flex justify-center text-center transition-all duration-300 rounded-lg;
  } */
  .secondary-btn-small {
    @apply text-white cursor-pointer font-bold tracking-wide bg-secondary border border-secondary hover:bg-[#F6F7Fb] hover:text-black   hover:-translate-y-1 shadow-2xl shadow-transparent  px-3 py-3 min-w-fit flex justify-center text-center transition-all duration-300 rounded-full;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-scroll {
    animation: scroll 40s linear infinite;
  }

  .animate-scroll2 {
    animation: scroll2 35s linear infinite;
  }
}
.react-player video {
  object-fit: fill !important;
}
.blacktextshadow {
  text-shadow: 0px 0px 42px rgba(0, 0, 0, 0.75);
}
.whitetextshadow {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.spinner-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dcd3e6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #967bb3 #967bb3;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
